[Unit]
Description=Sets gsettings prefer-<light|dark>
After=alacritty-use-theme.service
Requires=alacritty-use-theme.service

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/alacritty-use-theme
ExecStart=/usr/lib/alacritty-use-theme/bin/theme-switcher/auto-update-gnome-theme.sh
Restart=on-failure

[Install]
WantedBy=default.target

