[Unit]
Description=Update Gtk Theme
Wants=display-manager.service
After=graphical-session.target theme-switcher.service

[Service]
Type=dbus
BusName=org.xfce.Xfconf
WorkingDirectory=/usr/lib/alacritty-use-theme
EnvironmentFile=/usr/lib/alacritty-use-theme/environment.env
ExecStart=/usr/lib/alacritty-use-theme/bin/theme-switcher/update-gdm.sh

[Install]
WantedBy=default.target
